.section-header {
  margin-bottom: 0.5rem;
}
.set-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 500px;
}
.set-list-item {
  display: flex;
  align-items: stretch;
  background-color: #222;

  pointer-events: none;
}
.set-list-item:hover {
  box-shadow: 2px 2px 4px #555;
}
.set-list-item .set-link {
  pointer-events: auto;
}
.set-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.6rem;
}

.set-list-item-controls {
  display: none;
  transition: background-color 0.2s ease-in-out;
}

.set-list-item:hover .set-list-item-controls {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

.set-list-item-controls:hover {
  background-color: rgb(219, 18, 18);
  cursor: pointer;
}
