<header class="header">
  <h1><a href="/">Randomizer</a></h1>
  <nav>
    <ul class="pages-list">
      <li><a href="/">main</a></li>
      <li><a href="/sets">sets</a></li>
    </ul>
  </nav>
</header>
